{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p id="success">{{ success }}</p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span id="success" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.twofa.label }}<br>
            {{ form.twofa(size=10) }}<br>
            {% for error in form.twofa.errors %}
            <span id="success" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span id="success" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
